* {
  padding: 5px;
  text-align: center;
}

nav {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(199, 217, 232);
}

.galeria {
  padding: 30px;
  align-items: center;
}


.container{
 display: flex;
 flex-direction: column;
}

.card {
  display:flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 220px;
  background-color: rgb(171, 201, 202);
}

ul.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.autor {
  color: aliceblue;
  font-size: medium;
}
img.foto {

  height: 130px;
  outline-style: solid;
  outline-width: 0.2rem;
  outline-color: aliceblue;
}

h1 {
  color: rgb(20, 21, 21);
}




.like{
  position: relative;



}